[Unit]
Description = myNgrokSsh

[Service]
ExecStart=/home/pi/work/git/myNgrok/module_ssh/start.sh
Restart=always
Type=simple
User=pi

[Install]
WantedBy=multi-user.target
